.carrusel-wrapper {
    display: flex;
    justify-content: space-between;
}

.carrusel-container, .carrusel-container2 {
    width: 45%;
    margin: 0;
    overflow: hidden;
}

.carrusel, .carrusel2 {
    display: flex;
    flex-direction:row-reverse; /* Asegura que los elementos estén en fila */
    transition: transform 0.5s ease;
}

.slide, .slide2 {
    min-width: 100%;
    transition: 0.5s;
}

.slide img, .slide2 img {
    width: 40%; /* Ajusta el ancho de las imágenes para que ocupen todo el contenedor */
    height: auto;
}